@charset "utf-8";
/*
   Project 1 Style Sheet
   Author: Jewel Sanchez
   Date: 08 November 2025   
   
   Filename: project1.css

*/
address, article, aside, blockquote, body, cite,
div, dl, dt, dd, em, figcaption, figure, footer,
h1, h2, h3, h4, h5, h6, header, html, img,
li, main, nav, ol, p, section, span, ul {
    background: transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}


/* HTML and Body Styles */

html {
    background-color:white;
    height: 100%;
}

body {
    margin:auto;
    width: 95%;
    min-height: 100%;
    min-width: 640px;
    font-family: Courier, monospace;
    color:black;
    line-height: 2;
    box-sizing: border-box;
}

header {
    background-color: rgb(215, 159, 223);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

body > header > img {
    display: block;
    width: 100%;
}

.purple-list{
    background-color: hsl(278, 52%, 85%);
    color:white;
    padding-left: 35px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:medium;
}

article{
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    padding:10px;
}


/* Floating Styles*/

body> header > nav li {
    width: 33.3333%;
    display: block;
    float: left;
    text-align: center;
}


/* Heading Styles */

h1 {
    font-size: 2.2em;
    padding-left: 10px;
}
h2 {
    font-size: 1.5em;
    border-radius: 40px;
    margin-top:10px;
    margin-bottom: 10px;
}
h1, h2 {
    font-family: Courier, monospace;
    letter-spacing: 0.1em;
    background-color: rgb(215, 159, 223);
    color: white;
    text-align: center;
}
h3{
    color: black;
    outline-color: rgb(215, 159, 223);
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: xx-large;
}


/* Navigation Styles */	

nav ul {
    list-style: none;
    list-style-image: none;
}

nav > ul > li {
    font-size: 0.8em;
    line-height: 4em;
    list-style-type: none;
    background-color: hsl(278, 52%, 85%);
}

nav > ul > li > a:link, nav > ul > li > a:visited {
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
}
nav > ul > li > a:hover, nav > ul > li > a:active {
    color: white;
    text-decoration: underline;
    text-align: center;
    display: block;
}
nav img {
    height: 1em;
    vertical-align: middle;
    margin-right: 5px;
}


/* Footer Styles */

body > footer {
    background-color: rgb(215, 159, 223);
    color: white; 
    text-align: center;
    position: relative;
    margin-top: 100px;
    clear: both;
}


/* Right Column Styles */
section#rightColumn {
    float: right;
    width:33%;
    padding: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
}

section#rightColumn img {
    display: block;
    width: 100%;
    float:right;
    padding: 10px;
    background-color:hsl(278, 52%, 85%);
}


/* Left Column Styles */

section#leftColumn {
    clear: left;
    float: left;
    width: 67%;
    padding: 5px;
    margin-bottom: 10px;
}

section#leftColumn > ul {
    padding-left:15px;
}