@charset "utf-8";
/*
   Project 1 Style Sheet
   Author: Jewel Sanchez
   Date: 08 November 2025   
   
   Filename: project1.css

*/


/* HTML and Body Styles */

html {
    background-color:white;
    padding-left: 40px;
    padding-right: 40px;
}
body {
    font-family: Courier, monospace;
    color:black
}
header {
    background-color: rgb(215, 159, 223);
    padding-top: 10px;
}
.purple-list{
    background-color: hsl(278, 52%, 85%);
    color:white;
    padding-bottom: 10px;
    padding-left: 40px;
}

/* Heading Styles */

h1 {
    font-size: 2.2em;
    padding-left: 10px;
}
h2 {
    font-size: 1.5em;
    padding-left: 10px;
}
h1, h2 {
    font-family: Courier, monospace;
    letter-spacing: 0.1em;
    background-color: rgb(215, 159, 223);
    color: white;
}
h3{
    color: hsl(278,52%,85%);
    outline-color: black;
}


/* Navigation Styles */	

nav {
    font-size: 0.8em;
    background-color: white;
}
nav > ul {
    line-height: 2em;
    list-style-type: none;
    padding-left: 5px;
}
nav > ul > li.newgroup {
    margin-top: 20px;
}
nav > ul > li > a:link, nav > ul > li > a:visited {
    color: hsl(278,52%,85%);
    text-decoration: none;
}
 nav > ul > li > a:hover, nav > ul > li > a:active {
    color: rgb(215, 159, 223);
    text-decoration: underline;
}


/* Section Styles */
section {
    background-color: hsl(278, 52%, 85%); /* Background color for gap between sections */
    color:white;
    margin: 50px;
}


/* Footer Styles */

body > footer {
    background-color: rgb(215, 159, 223);
    color: white; 
    font: normal small-caps bold 0.9em/3em,
        Courier, monospace;
    text-align: center;
}